<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>DropDown</title>
  </head>
  <body>
    <div class="flex justify-center h-screen pt-40 border border-black bg-red-500">
      <form>
        <select class="font-black text-2xl">
          <option>Australia</option>
          <option>Bermuda</option>
          <option>Canada</option> 
          <option>Cameroon</option> 
          <option>Denmark</option>
          <option>France</option>

          <option>France</option>
          <option>Finland</option>
          <option>Germany</option>
          <option>France</option>
          <option>UK</option>
          <option>Japan</option>
          <option>France</option>
          <option>Finland</option>
          <option>Germany</option>
          <option>France</option>
          <option>UK</option>
          <option>Japan</option>
          <option>Finland</option>
          <option>Germany</option>
          <option>France</option>
          <option>UK</option>
          <option>Japan</option>
          <option>China</option>
          <option>Bengal</option>
          <option>USA</option>
        </select>
      </form>
    </div>
  </body>
  \
</html>
